.card {
  margin: auto;
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: $blue-storm;

  &__image {
    position: relative;

    picture {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: auto;
      }
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: "";
      background-color: hsla(278, 100%, 30%, 0.55);
    }
  }

  &__content {
    padding: 2.5rem 1.75rem;
    text-align: center;
  }

  &__text {
    p {
      margin-top: 1rem;
      margin-bottom: 2.5rem;
      font-size: 0.9375rem;
      line-height: 1.5rem;
      color: $white-alpha-60;
    }
  }

  &__stats-box {
    font-family: "Inter";

    .stats-item {
      &:not(:last-child) {
        margin-bottom: 1.75rem;
      }

      span {
        display: block;
      }

      .stats-number {
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
        font-weight: 700;
        color: $white-solid;
      }

      .stats-text {
        font-size: 0.625rem;
        text-transform: uppercase;
        color: $white-alpha-60;

        @include letter-spacing(0.125rem);
      }
    }
  }
}

@media only screen and (min-width: 62em) {
  .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 28rem;
    max-width: 69.5rem;

    &__image {
      order: 2;

      img {
        height: 100%;
        width: auto;
      }
    }

    &__content {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      order: 1;
      margin: 0 4rem;
      padding: 0;
      max-width: 24rem;
      text-align: left;
    }

    &__text {
      h2 {
        margin-bottom: 1.5rem;
        font-size: 2rem;
        line-height: 2.5rem;
      }

      p {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }

    &__stats-box {
      display: flex;
      justify-content: space-between;

      .stats-item {
        &:not(:last-child) {
          margin-bottom: 0;
          margin-right: 4rem;
        }
      }
    }
  }
}
