*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: $blue-midnight;
  font-family: "Lexend Deca", sans-serif;
  font-size: 100%;
  font-weight: 400;
  color: $white-alpha-75;
}

h2 {
  font-family: "Inter";
  font-size: 1.75rem;
  font-weight: 700;
  color: $white-solid;
  margin: 0;
}

.accent {
  color: $violet-soft;
}

.container {
  width: 100%;
  padding: 1.5rem;
}
